@import url('https://fonts.googleapis.com/css?family=ZCOOL+QingKe+HuangYou');

.App {
  text-align: center;
  font-family: 'ZCOOL QingKe HuangYou', cursive;
}
.Header {
  color: #443e3e;
  text-shadow: 1px 1px 5px #fff;
}
/* write your parent styles in here for your App.js */
